@charset "UTF-8";

/*すべてのwebページに適用させる */
html {
	font-family: fantasy;
}
body {
	margin: 0 0 0 0;
	background-color: #FFFFF0;
}
.header {
	text-align: center;
}
/*すべてのwebページに適用　- ヘッダー　-*/
.logo {
	margin: 30px 0 20px 0;
	line-height: 0;
	text-align: center;
}
/*divに中央指定は無理？　-*/

.nav li {
	display: inline;
	list-style-type: none;
	padding-right: 30px;
}	
h2 {
	color: #9999FF;
	font-size: 22px;
	border-bottom: 3px dotted #9999FF;
}
table {
  border-collapse:separate;
  border-spacing: 0;
　text-align: center;
  width: 1200px;  /* 幅指定 */
  margin: auto;   /*表の外の幅指定 */
}

table th{
  text-align: center; /* 文字を中央に */
  color:white;        /* 文字を白に */
  background: linear-gradient(#829ebc,#225588);　/*１列目のグラデーション */
  border-left: 1px solid #3c6690; /* 左線の指定 1本 */
  border-top: 1px solid #3c6690;  /* 上線の指定 1本 */
  border-bottom: 1px solid #3c6690;
  width: auto;  /* 幅指定 */
}

table td{
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  width: auto;  /* 幅指定 */
}
/* 2ページ目の個別のスタイル */
.naiyou {
  text-align: left;
  margin: 1px 500px;
  border: 5px solid #4682b4;
  padding: 5px;
  border-radius: 0px;
  background: #afeeee;
}
/* 表の金額の横より右にいけない設計になってる気がする…。 */
.rireki {
  width: auto;  /* 幅指定 */
  height: auto;  /* 高さ指定 */
  margin-left: auto; /* 中央寄せ */
  margin-right: auto;
}
/* 3ページ目の個別のスタイル */
.tuki3 {
  text-align: center;
  width: 25%
}
