@charset "UTF-8";

/*すべてのwebページに適用させる */
html {
	font-family: fantasy;
}
body {
	margin: 0 0 0 0;
	background-color: #FFFFF0;
}
.header {
	text-align: center;
}
/*すべてのwebページに適用　- ヘッダー　-*/
.logo {
	margin: 30px 0 20px 0;
	line-height: 0;
	text-align: center;
}
/*divに中央指定は無理？　-*/

.nav li {
	display: inline;
	list-style-type: none;
	padding-right: 30px;
}	
h2 {
	color: #9999FF;
	font-size: 22px;
	border-bottom: 3px dotted #9999FF;
}
table{
  width: 70%;
  border-collapse:separate;
  border-spacing: 0;
}

table th{
  text-align: center;
  color:white;
  background: linear-gradient(#829ebc,#225588);
  border-left: 1px solid #3c6690;
  border-top: 1px solid #3c6690;
  border-bottom: 1px solid #3c6690;
  box-shadow: 0px 1px 1px rgba(255,255,255,0.3) inset;
  width: 25%;
  padding: 10px 0;
}

table td{
  text-align: center;
  border-left: 1px solid #a8b7c5;
  border-bottom: 1px solid #a8b7c5;
  border-top:none;
  box-shadow: 0px -3px 5px 1px #eee inset;
  width: 25%;
  padding: 10px 0;
}
/* 2ページ目の個別のスタイル */
.hinichi {
  width: 100%;
}
.sentakushi {
  width: 103%;
}
.kingaku {
  width: 92%;
}
/* 3ページ目の個別のスタイル */
.tuki3 {
  text-align: center;
  width: 25%
}
